@import "~bootstrap/dist/css/bootstrap.min.css";
$primary: #3285ef;
.hero-one {
  background-image: url("/assets/images/laptop.jpg");
  background-size: cover;
  background-position: center center;
}
.button {
  background-color: $primary;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  &:hover {
    background-color: $primary;
    scale: 1.05;
    transition: 0.1s scale ease-in-out;
  }
}
form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }
}
