<section class="hero hero-one is-fullheight section">
  <div class="hero-body">
    <div class="container">
      <h3 class="has-text-centered">Vous désirez me contacter?</h3>
      <p class="has-text-centered mb-5">
        Où juste partager un café et discuter de vos projets? Alors n'hésitez
        pas, écrivez-moi ! Promis je ne vous mangerai pas
      </p>
      <form class="contact-form" (submit)="sendEmail($event)">
        <div class="field">
          <input
            type="text"
            class="input"
            name="user_name"
            id=""
            placeholder="Votre nom"
            
          />
        </div>
        <div class="field">
          <input
            type="text"
            name="user_email"
            class="input"
            id=""
            placeholder="Votre email"
            
          />
        </div>
        <div class="field">
          <textarea
            type="text"
            name="message"
            class="textarea"
            rows="10"
            id=""
            placeholder="Votre message"
            
          ></textarea>
        </div>
        <button
          type="submit"
          class="button is-danger is-medium is-centered"
          value="Send"
        >
          Envoyer un message
        </button>
      </form>
      <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="card">
            <div class="card-content">
              <div class="content">Votre message a bien été envoyé. Merci</div>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
    </div>
  </div>
</section>
