<section class="hero hero-one is-fullheight section">
  <div class="hero-body">
    <div class="container">
      <h3 class="has-text-centered">Vous désirez me contacter?</h3>
      <p class="has-text-centered mb-5">
        Où juste partager un café et discuter de vos projets? Alors n'hésitez
        pas, écrivez-moi ! Promis je ne vous mangerai pas
      </p>
      <form (ngSubmit)="processForm()" method="POST" action="send">
        <div class="field">
          {{ msg }}
          <input
            type="text"
            name="name"
            class="input"
            id=""
            placeholder="Votre nom"
            [(ngModel)]="name"
          />
        </div>
        <div class="field">
          <input
            type="text"
            name="email"
            class="input"
            id=""
            placeholder="Votre email"
            [(ngModel)]="email"
          />
        </div>
        <div class="field">
          <textarea
            type="text"
            name="message"
            class="textarea"
            rows="10"
            id=""
            placeholder="Votre message"
            [(ngModel)]="message"
          ></textarea>
        </div>
        <button type="submit" class="button is-danger is-medium is-centered">
          Envoyer un message
        </button>
      </form>
    </div>
  </div>
</section>
