$primary: #3285ef;
.hero-one {
  background-image: url("/assets/images/laptop.jpg") !important;
  background-size: cover;
  background-position: center center;
}
.button {
  background-color: $primary;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  &:hover {
    background-color: $primary;
    scale: 1.05;
    transition: 0.1s scale ease-in-out;
  }
}
