$primary: #3285ef;
nav {
  height: 100px;
}

h1 {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: lightgray;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
h2 {
  color: lightgray;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.navbar-brand {
  padding-top: 1.5rem;
}
.navbar-menu {
  background-color: black;
}
.navbar-nav {
  li {
    display: inline;
  }
  list-style: none;
}
.scale:hover {
  scale: 1.1;
  transition: 0.2s scale ease-in-out;
}

a:hover,
a:active {
  color: $primary;
}
.contact {
  font-weight: 800;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  .navbar-brand {
    padding-top: 0;
  }
}
