@import "/src/styles.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";
// @import "~bulma/css/bulma.min.css";

$primary: #3285ef;
nav {
  height: 100px;
}
h1 {
  font-size: 2rem;
  margin-left: 1.5rem;
  color: lightgray;
  font-weight: 800;
  font-family: "Pompiere", cursive;
}
h2 {
  color: lightgray;
  font-size: 1rem;
  font-family: "Pompiere", cursive;
  font-weight: 800;
}
.navbar-brand {
  padding-top: 1.5rem;
}
.navbar-menu {
  background-color: black;
}
.navbar-nav {
  li {
    display: inline;
  }
  list-style: none;
}
a {
  font-size: 1.2rem;
}
.scale:hover {
  scale: 1.1;
  transition: 0.2s scale ease-in-out;
}

a:hover,
a:active {
  color: $primary;
  text-decoration: none;
}
.contact {
  font-weight: 800;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  .navbar-brand {
    padding-top: 0;
  }
}
