<nav
  class="container-fluid navbar is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand px-5">
    <div class="navbar-item">
      <img src="/assets/logo/Logo-FondNoir_StephaneVerardo.svg" alt="logo" />
    </div>
    <a
      (click)="toggleNavbar()"
      role="button"
      #navBurger
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="nav-menu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="nav-menu" #navMenu>
    <div class="navbar-start">
      <li
        *ngFor="let items of menuItems"
        class="navbar-item scale {{ items.linkName }} ml-5 "
      >
        <a href="{{ items.linkUrl }}"> {{ items.linkName }}</a>
      </li>
    </div>
    <div class="navbar-end">
      <div class="navbar-item scale">
        <div class="buttons">
          <li
            *ngFor="let items of buttonItems"
            class="navbar-item {{ items.linkName }} ml-3"
          >
            <a href="{{ items.linkUrl }}"> {{ items.linkName }}</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</nav>
