<section class="hero hero-one is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      

      <div data-aos="fade-right" data-aos-duration="2000">
        <h1>La Big Team</h1>
      </div>
      <div data-aos="fade-right" data-aos-duration="2000">
        <h2>Mais qui se cache derrière cette tasse ?</h2>
      </div>
    </div>
  </div>
</section>

<section class="hero hero-body hero-three striped">
  <div class="has-text-centered">
    <h2
      class="has-text-centered subtitle-2"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      Mes compétences
    </h2>
    <div class="container columns .container.is-max-desktop is-dektop">
      <div *ngFor="let item of contentItem">
        <div class="column has-text-justified wrapper-container">
          <div class="wrapper">
            <h3 class="card-title has-text-centered is-bold">
              {{ item.contentTitle }}
            </h3>
            <p class="card-text px-4">{{ item.contentText }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
