<section class="hero hero-one is-fullheight">
  <div class="container hero-body centeredElement">
    <div data-aos="fade-right" data-aos-duration="2000">
      <h1>La Big Team</h1>
    </div>
    <div data-aos="fade-right" data-aos-duration="2000">
      <h2>Mais qui se cache derrière cette tasse ?</h2>
    </div>
  </div>
</section>

<section class="hero hero-three">
  <div class="container" data-aos="fade-up" data-aos-duration="2000">
    <h2 class="has-text-centered subtitle-2">Mes centres d'intérêts</h2>
    <div class="trait"></div>
    <div class="is-dektop" data-aos="fade-up" data-aos-duration="2000">
      <div *ngFor="let item of contentItem">
        <div class="has-text-centered wrapper-container mx-4 text">
          <div class="grid mb-4">
            <img src="{{ item.contentIcon }}" alt="" class="icon" />
            <h3 class="card-title has-text-centered">
              {{ item.contentTitle }}
            </h3>
          </div>

          <p class="card-text px-4">{{ item.contentText }}</p>
        </div>
        <div class="traith"></div>
      </div>
      <h3 class="has-text-centered mt-5">Et tellement plus ... pour le test</h3>
    </div>
  </div>
</section>
