$primary: #3285ef;
.dialog {
  background-color: white;
}
button {
  background-color: $primary;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  align-items: end;
}
