@import "~/src/styles.scss";

$primary: #3285ef;
$lightgray: hsl(0, 0%, 98%);
$orange: #fea510;

.striped {
  background: repeating-linear-gradient(
    45deg,
    #ececec 0,
    #ececec 2px,
    transparent 2px,
    transparent 15px
  );
}
.background {
  background: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}
img {
  width: 100px;
}
p {
  font-family: "Montserrat Alternates", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
.smallContainer {
  max-width: 50%;
  margin: auto;
}
.hero-one {
  background-image: url("/assets/images/hamac.png") !important;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .bcg {
    width: 100%;
    height: 1005;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}
.hero-body {
  display: flex;
  flex-direction: column;
}
.trait {
  border-left: 1px solid $lightgray;
  height: 30rem;
}
.htrait {
  padding-top: 4rem;
  border-top: 1px solid $primary;
}

.subtitle-2 {
  padding-bottom: 2rem;
  color: $orange;
}
.subtitle-3 {
  padding-bottom: 2rem;
  color: white;
}
.columns:last-child {
  margin-bottom: 0;
}
.space {
  justify-content: space-around;
}
img {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}
.hero-three {
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.hero-four {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.button {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: none;
  &:hover {
    background-color: $primary;
    scale: 1.05;
    transition: 0.1s scale ease-in-out;
  }
}
.contact {
  margin: 1rem;
}
li {
  list-style: none;
}
h3 {
  color: $orange;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Montserrat Alternates", sans-serif;
}
.white {
  color: $lightgray;
}

.wrapper-container {
  background-color: white;
  padding-right: 5px;
  margin-bottom: 3rem;
  max-width: 600px;
}

@media screen and(max-width: 768px) {
  .trait {
    border-left: none;
    border-top: 1px solid $lightgray;
    margin-top: 6rem;
    padding-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    height: auto;
  }
}
@media screen and (max-width: 375px) {
  .trait {
    border-left: none;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  .container {
    max-width: 100%;
  }
}
