$primary: #3285ef;
$lightgray: hsl(0, 0%, 98%);
$orange: #fea510;

.peas {
  background: radial-gradient($orange 1px, transparent 2px);
  background-size: 20px 20px;
}
.striped {
  background: repeating-linear-gradient(
    45deg,
    #ececec 0,
    #ececec 2px,
    transparent 2px,
    transparent 15px
  );
}

h1 {
  font-size: 6rem;
  color: white;
  font-family: "Pompiere", cursive;
}
h2 {
  font-size: 4rem;
  color: $orange;
  font-family: "Pompiere", cursive;
}

p {
  font-family: "Montserrat Alternates", sans-serif;
}
.hero-one {
  background-image: url("/assets/images/laptop.jpg") !important;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.trait {
  border-left: 1px solid $lightgray;
}
.htrait {
  padding-top: 6rem;
  border-bottom: 1px solid $primary;
}
.subtitle {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.subtitle-2 {
  padding-bottom: 2rem;
  color: $orange;
}
.columns:last-child {
  margin-bottom: 0;
}
.space {
  justify-content: space-around;
}
img {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}
.hero-three {
  align-items: center;
  margin-bottom: 6rem;
  margin-top: 6rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.hero-four {
  margin-bottom: 6rem;
  margin-top: 6rem;
}
li {
  list-style: none;
}
h3 {
  color: $orange;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Montserrat Alternates", sans-serif;
}
.white {
  color: $lightgray;
}
.wrapper {
  width: 400px;
}
.wrapper-container {
  background-color: white;
  margin: 20px;
  vertical-align: middle;
  margin-bottom: 3rem;
  height: 100%;
}
[class*="reveal-"] {
  opacity: 0;
  transform: translateY(60px);
}
.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s ease-in-out;
}
.reveal-2 {
  transition-delay: 0.1s;
}
.reveal-3 {
  transition-delay: 0.2s;
}
@media screen and(max-width: 768px) {
  .trait {
    border-left: none;
    border-top: 1px solid $primary;
    margin-top: 6rem;
    padding-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .trait {
    border-left: none;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .reveal [class*="reveal-"] {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
