<section class="hero hero-one is-fullheight is-bold">
  <div class="container hero-body has-text-centered centeredElement">
    <div data-aos="fade-right" data-aos-duration="2000">
      <img src="/assets/logo/Picto-FondBlanc_StephaneVerardo.svg" alt="">
    </div>
    <div data-aos="fade-right" data-aos-duration="2000">
      <h1>Stéphane VERARDO</h1>
    </div>
    <div data-aos="fade-right" data-aos-duration="2000">
      <h2>web developper</h2>
    </div>
  </div>
</section>
<section
  class="hero is-bold hero-four"
  data-aos="fade-up"
  data-aos-duration="2000"
>
  <div class="container hero-body">
    <h2 class="has-text-centered subtitle-2" data-aos="zoom-in">
      Performances
    </h2>
    <p data-aos="fade-up" data-aos-duration="2000" class="has-text-justified">
      Je mets à votre disposition mes compétences et mon savoir faire afin de
      rendre vos projets uniques et conformes à vos attentes et besoins.
    </p>
    <div class="htrait"></div>
  </div>
</section>

<section class="hero hero-three striped">
  <div class="container">
    <h2
      class="has-text-centered subtitle-2"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      Les offres
    </h2>
    <div class="columns is-dektop">
      <div *ngFor="let item of cardContainerMenu">
        <div class="column has-text-justified wrapper-container mx-4">
          <h3 class="card-title has-text-centered">
            {{ item.cardTitle }}
          </h3>
          <p class="card-text px-4">{{ item.cardBody }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero hero-two is-info">
  <div class="container hero-body">
    <div class="has-text-centered" data-aos="fade-up" data-aos-duration="2000">
      <h2 class="has-text-centered subtitle-3">En quelques mots :</h2>
      <div class=".container.is-max-desktop columns is-dektop">
        <div
          class="column has-text-centered"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <div>
            <img
              src="/assets/images/flyWhite.svg"
              alt="logo"
              class="image is-128x128"
            />
          </div>
          <h3 class="white">Je suis plutôt café noirs long</h3>
          <div>
            <p class="pt-5 mx-5 has-text-justified">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
              aperiam obcaecati. Tempora consectetur tempore consequuntur illo
              eum ad nobis laboriosam nam provident eos ipsa reprehenderit
              porro, veniam quaerat sapiente animi!
            </p>
          </div>
        </div>
        <div
          class="column has-text-centered trait"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          <div>
            <img
              src="/assets/images/flyWhite.svg"
              alt="logo"
              class="image is-128x128"
            />
          </div>
          <h3 class="white">100% satisfait</h3>

          <div>
            <p class="pt-5 mx-5 has-text-justified">
              Je ne vous lâche pas tant que vous ne serez pas satisfait à 100%
              de votre <strong>site internet</strong> ou de votre
              <strong>application mobile</strong> car c'est avant tout votre
              identité
            </p>
          </div>
        </div>
        <div
          class="column has-text-centered trait"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          <div>
            <img
              src="/assets/images/flyWhite.svg"
              alt="logo"
              class="image is-128x128"
            />
          </div>
          <h3 class="white">Parlons de nous !</h3>

          <div>
            <p class="pt-5 mx-5 has-text-justified">
              Vous rencontrer reste le moyen le plus sûr de comprend vos
              besoins, votre monde et votre vision. De ce fait, je rencontre
              systématiquement ( avec un masque ;) ) mes clients afin de mieux
              cerner vos attentes et de vous proposer un
              <strong>site web</strong> qui correspond le mieux à vos besoins.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
