$primary: #3285ef;
h1 {
  font-size: 6rem;
  color: white;
}
h2 {
  font-size: 2rem;
  color: $primary;
}
.hero-one {
  background-image: url("/assets/images/laptop.jpg") !important;
  background-size: cover;
  background-position: center center;
}
.trait {
  border-left: 1px solid $primary;
}
