<section class="hero hero-one is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Stéphane VERARDO</h1>
      <h2>web developper</h2>
    </div>
  </div>
</section>
<section class="hero hero-body is-fullheight hero-two">
  <div class="has-text-centered">
    <h2 class="has-text-centered subtitle">En quelques mots</h2>
    <div class=".container.is-max-desktop columns is-dektop">
      <div class="column has-text-centered">
        <div>
          <img
            src="/assets/images/fly.svg"
            alt="logo"
            class="image is-128x128"
          />
        </div>
        Je suis plutôt café noirs long

        <div>
          <p class="pt-5 mx-5 has-text-justified">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
            aperiam obcaecati. Tempora consectetur tempore consequuntur illo eum
            ad nobis laboriosam nam provident eos ipsa reprehenderit porro,
            veniam quaerat sapiente animi!
          </p>
        </div>
      </div>
      <div class="column has-text-centered trait">
        <div>
          <img
            src="/assets/images/fly.svg"
            alt="logo"
            class="image is-128x128"
          />
        </div>
        Je développe dans un hamac
        <div>
          <p class="pt-5 mx-5 has-text-justified">
            Pour être efficace, il faut se détendre! Et pour moi, ça passe par
            un hamac. Jamais très loin, j'aime me promener avec mon hamac sur le
            dos à coté de mon ordi pour cherche l'inspiration qui fera de votre
            site le plus beau et le plus efficace des <strong>sites web</strong>
          </p>
        </div>
      </div>
      <div class="column has-text-centered trait">
        <div>
          <img
            src="/assets/images/fly.svg"
            alt="logo"
            class="image is-128x128"
          />
        </div>
        J'aime bien parler avec vous !
        <div>
          <p class="pt-5 mx-5 has-text-justified">
            Vous rencontrer reste le moyen le plus sûr de comprend vos besoins,
            votre monde et votre vision. De ce fait, je rencontre
            systématiquement ( avec un masque ;) ) mes clients afin de mieux
            cerner vos attentes et de vous proposer un
            <strong>site web</strong> qui correspond le mieux à vos besoins.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero heo-body hero-three is-info is-bold">
  <div class="container">
    <h2>Travailler avec moi c'est :</h2>
    <div class="columns">
      <div class="column"></div>
      <div class="column"></div>
    </div>
  </div>
</section>
