<section class="hero hero-one is-fullheight is-bold">
  <div class="container hero-body has-text-centered centeredElement">
    <div data-aos="fade-right" data-aos-duration="2000">
      <img src="/assets/logo/Picto-FondBlanc_StephaneVerardo.svg" alt="" />
    </div>
    <div data-aos="fade-right" data-aos-duration="2000">
      <h1>Stéphane VERARDO</h1>
    </div>
    <div data-aos="fade-right" data-aos-duration="2000">
      <h2>web developper</h2>
    </div>
  </div>
</section>
<section
  class="hero is-bold hero-four"
  data-aos="fade-up"
  data-aos-duration="2000"
>
  <div class="container hero-body">
    <h2 class="has-text-centered subtitle-2" data-aos="zoom-in">Coucou !</h2>
    <p data-aos="fade-up" data-aos-duration="2000" class="has-text-centered">
      Bienvenu sur mon site! Vous recherchez un site web? Une appli mobile?
      Demandez-moi!
    </p>
    <div class="htrait"></div>
  </div>
</section>

<section class="hero hero-three striped">
  <div class="container">
    <h2
      class="has-text-centered subtitle-2"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      Les offres
    </h2>
    <div class="columns is-dektop">
      <div *ngFor="let item of cardContainerMenu">
        <div class="column has-text-justified wrapper-container mx-4">
          <h3 class="card-title has-text-centered">
            {{ item.cardTitle }}
          </h3>
          <p class="card-text px-4">{{ item.cardBody }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero hero-two is-info">
  <div class="container hero-body">
    <div class="has-text-centered" data-aos="fade-up" data-aos-duration="2000">
      <h2 class="has-text-centered subtitle-3">En quelques mots :</h2>
      <div class=".container.is-max-desktop columns is-dektop">
        <div
          class="column has-text-centered"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <div>
            <img
              src="/assets/images/flyWhite.svg"
              alt="logo"
              class="image is-128x128"
            />
          </div>
          <h3 class="white">Café noirs sans sucre</h3>
          <div>
            <p class="pt-5 mx-5 has-text-justified">
              Mieux vous connaitre, c'est important pour mieux créer un produit
              à votre image. Alors, n'hésitons pas une seconde et rencontrons
              nous!
            </p>
          </div>
        </div>
        <div
          class="column has-text-centered trait"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          <div>
            <img
              src="/assets/images/flyWhite.svg"
              alt="logo"
              class="image is-128x128"
            />
          </div>
          <h3 class="white">100% satisfait</h3>

          <div>
            <p class="pt-5 mx-5 has-text-justified">
              Cela ne vous plait pas trop? Discutons-en ! De toute facon, je ne
              vous lacherai pas tant que vous ne serez pas pleinement satisfait.
            </p>
          </div>
        </div>
        <div
          class="column has-text-centered trait"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          <div>
            <img
              src="/assets/images/flyWhite.svg"
              alt="logo"
              class="image is-128x128"
            />
          </div>
          <h3 class="white">Parlons de nous !</h3>

          <div>
            <p class="pt-5 mx-5 has-text-justified">
              Vous êtes plutôt thé ou café ? visio ou réel ? sucré ou salé ?
              Rien de telle qu'une discussion de vive voix pour se connaitre
              d'avantage, partager et peut-être même travailler ....
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
