<section class="hero hero-body is-fullheight reveal-1">
  <div
    class="column is-three-fifths is-offset-one-fifth"
    *ngFor="let item of projectsItems"
  >
    <div *ngIf="item.projectId % 2 == 0; then pair; else impair"></div>
    <ng-template #pair class="">
      <div class="columns">
        <div class="hero-body column is-half">
          <div class="image is-centered">
            <img src="{{ item.projectImage }}" alt="Placeholder image" />
          </div>
        </div>
        <div class="column is-half p-5">
          <a href="{{ item.projectUrl }}" target="_blank"
            ><h2 class="column has-text-centered">
              {{ item.projectTitle }}
            </h2></a
          >
          <p class="has-text-justified has-text-centered">
            {{ item.projectText }}
          </p>
        </div>
      </div>
    </ng-template>

    <ng-template #impair class="">
      <div class="columns">
        <div class="column is-half p-5">
          <a href="{{ item.projectUrl }}" target="_blank"
            ><h2 class="column has-text-centered">
              {{ item.projectTitle }}
            </h2></a
          >
          <p class="has-text-justified has-text-centered">
            {{ item.projectText }}
          </p>
        </div>
        <div class="hero-body is-half p-5">
          <div class="image">
            <img src="{{ item.projectImage }}" alt="Placeholder image" />
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
