$primary: #3285ef;
p {
  font-size: 0.8rem;
}
h2 {
  color: $primary;
  font-weight: 750;
}
img {
  width: 400px;
  height: 350px;
  border-radius: 50%;
}
[class*="reveal-"] {
  opacity: 0;
  transform: translateY(60px);
}
.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s ease-in-out;
}
.reveal-2 {
  transition-delay: 0.1s;
}
.reveal-3 {
  transition-delay: 0.2s;
}
@media (prefers-reduced-motion: reduce) {
  .reveal [class*="reveal-"] {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
