$primary: #3285ef;
$orange: #fea510;

p {
  font-size: 0.8rem;
  font-family: "Montserrat Alternates", sans-serif;
}
.container {
  width: 80%;
}
.hero-body {
  display: flex;
  flex-direction: column;
}
.wrapper-container {
  background-color: white;
  padding-right: 5px;
  margin-bottom: 3rem;
  max-width: 600px;
}
.hero-one {
  background: url("/assets/images/portfolio.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.striped {
  background: repeating-linear-gradient(
    45deg,
    #ececec 0,
    #ececec 2px,
    transparent 2px,
    transparent 8px
  );
  justify-content: center;
  align-items: center;
}
.marge {
  margin-top: 6rem;
}
img {
  max-width: 400px;
  max-height: 500px;
}
strong {
  font-weight: normal;
}
.columns {
  display: flex;
}
.column {
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
.background {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  transform: rotate(2deg);
  border-radius: 30px;
}
.grayBackground {
  background: #ececec;
  border-radius: 30px;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
  .columns {
    flex-direction: column;
    align-items: center;
  }
  .first {
    order: 2;
  }
  .second {
    order: 1;
  }
}
